.operational
  &__container
    display grid
    grid-template-columns 50% 50%
    height 100%

  &__cell
    background-color #535c68
    border-radius 0.5em
    margin 0.4em 0.2em
    cursor pointer
  
  &__cell:active
    box-shadow 0 0.1em 0 rgba(0,0,0,0.4) inset

  &__name
    flex-grow 2
    font-size 0.8vw


  &__dot
    height 1em
    width 1em
    border-radius 1em
    margin 0 0.5em
    box-shadow 0 0.05em 0 rgba(0,0,0,0.4) inset

  &__up
    background-color #1a8045

  &__down
    background-color #ca2f00

  &__center
    display flex
    justify-content center
    align-items center